.pagination ::ng-deep .ngx-pagination {
  padding-left: 0px;
}

.pagination ::ng-deep .ngx-pagination .current,
.btn-info {
  background: #f26522 !important;
  border: transparent;
}


.pagination ::ng-deep .ngx-pagination .current:hover {
  background: #f26522 !important;
  border: transparent;
}

.pagination ::ng-deep {
  display: flex;
  justify-content: center;
}

.box_main{
  position: relative;
}
.product {
  width: 0;
  height: 100%;
  background-color:#f26522;
  position: absolute;
  left: 0;
  top: 0;
  transition: 300ms;
}
.box_main:hover .product {
  width: 5px;
}
